[class^="col-"] {
  background: lightgrey;
  border: solid;
  padding: 0px;
}

.card-img-top {
  margin-bottom: 15px;
}
.col-md-4 {
  padding: 15px;
  border: none;
  background-color: white;
}
.jumbotron {
  background-color: lightgrey;
  padding: 15px;
  text-shadow: 0 2px 3px rgba(0,0,0,.2);
} 

html {
  padding: 0px;
}
